Repository KhronosGroup/glTF-Blender-IO, pull requests merged in 2019-12, with the labels that each got.

#817 Import: name layers like Col, UVMap instead of COLOR_0, TEXCOORD_0
  addons/io_scene_gltf2/blender/imp/gltf2_blender_KHR_materials_pbrSpecularGlossiness.py
  addons/io_scene_gltf2/blender/imp/gltf2_blender_map_normal.py
  addons/io_scene_gltf2/blender/imp/gltf2_blender_material_utils.py
  addons/io_scene_gltf2/blender/imp/gltf2_blender_pbrMetallicRoughness.py
  addons/io_scene_gltf2/blender/imp/gltf2_blender_primitive.py
Labels: Mesh_&_Object, invalid

#813 Draco compression: Fix skinning bug
  addons/io_scene_gltf2/__init__.py
  addons/io_scene_gltf2/io/exp/gltf2_io_draco_compression_extension.py
Labels: Skinning_&_Rigging, draco, exporter

#732 User defined extensions
  addons/io_scene_gltf2/__init__.py
  addons/io_scene_gltf2/blender/exp/gltf2_blender_gather_animation_channel_target.py
  addons/io_scene_gltf2/blender/exp/gltf2_blender_gather_animation_channels.py
  addons/io_scene_gltf2/blender/exp/gltf2_blender_gather_animation_samplers.py
  addons/io_scene_gltf2/blender/exp/gltf2_blender_gather_animations.py
  addons/io_scene_gltf2/blender/exp/gltf2_blender_gather_cameras.py
  addons/io_scene_gltf2/blender/exp/gltf2_blender_gather_image.py
  addons/io_scene_gltf2/blender/exp/gltf2_blender_gather_material_normal_texture_info_class.py
  addons/io_scene_gltf2/blender/exp/gltf2_blender_gather_material_occlusion_texture_info_class.py
  addons/io_scene_gltf2/blender/exp/gltf2_blender_gather_materials.py
  addons/io_scene_gltf2/blender/exp/gltf2_blender_gather_materials_pbr_metallic_roughness.py
  addons/io_scene_gltf2/blender/exp/gltf2_blender_gather_mesh.py
  addons/io_scene_gltf2/blender/exp/gltf2_blender_gather_nodes.py
  addons/io_scene_gltf2/blender/exp/gltf2_blender_gather_sampler.py
  addons/io_scene_gltf2/blender/exp/gltf2_blender_gather_skins.py
  addons/io_scene_gltf2/blender/exp/gltf2_blender_gather_texture.py
  addons/io_scene_gltf2/blender/exp/gltf2_blender_gather_texture_info.py
  addons/io_scene_gltf2/io/exp/gltf2_io_user_extensions.py
  misc/ExampleExtension.py
Labels: enhancement, exporter

#834 Fix bug when exporting Blender instances with Draco
  addons/io_scene_gltf2/io/exp/gltf2_io_draco_compression_extension.py
Labels: draco
