Repository KhronosGroup/glTF-Blender-IO, pull requests merged in 2019-11, with the labels that each got.

#762 Draco compression without normals
  addons/io_scene_gltf2/io/exp/gltf2_io_draco_compression_extension.py
Labels: draco

#758 Import: fix TODOs in accessor decoding
  addons/io_scene_gltf2/io/imp/gltf2_io_binary.py
Labels: importer

#757 Fix #675 Use new VertexColor node
  addons/io_scene_gltf2/blender/imp/gltf2_blender_KHR_materials_pbrSpecularGlossiness.py
  addons/io_scene_gltf2/blender/imp/gltf2_blender_pbrMetallicRoughness.py
Labels: Material, importer

#767 Fix buffer size with Draco compression
  addons/io_scene_gltf2/io/exp/gltf2_io_draco_compression_extension.py
Labels: draco

#696 Import: Factor texture node creation out into its own function
  addons/io_scene_gltf2/blender/imp/gltf2_blender_KHR_materials_pbrSpecularGlossiness.py
  addons/io_scene_gltf2/blender/imp/gltf2_blender_KHR_materials_unlit.py
  addons/io_scene_gltf2/blender/imp/gltf2_blender_image.py
  addons/io_scene_gltf2/blender/imp/gltf2_blender_map_emissive.py
  addons/io_scene_gltf2/blender/imp/gltf2_blender_map_normal.py
  addons/io_scene_gltf2/blender/imp/gltf2_blender_map_occlusion.py
  addons/io_scene_gltf2/blender/imp/gltf2_blender_material.py
  addons/io_scene_gltf2/blender/imp/gltf2_blender_material_utils.py
  addons/io_scene_gltf2/blender/imp/gltf2_blender_mesh.py
  addons/io_scene_gltf2/blender/imp/gltf2_blender_pbrMetallicRoughness.py
  addons/io_scene_gltf2/blender/imp/gltf2_blender_primitive.py
  addons/io_scene_gltf2/blender/imp/gltf2_blender_texture.py
Labels: enhancement, importer

#740 Add export support for Emission socket of Principled BSDF node.
  addons/io_scene_gltf2/blender/exp/gltf2_blender_get.py
  tests/scenes/01_principled_material_280.blend
  tests/test/test.js
Labels: enhancement, exporter
