Repository KhronosGroup/glTF-Blender-IO, pull requests merged in 2020-02, with the labels that each got.

#908 Import: omit UV transform/UVMap material nodes when possible
  addons/io_scene_gltf2/blender/imp/gltf2_blender_texture.py
Labels: Material, importer

#890 Fix #852 Don't take mute strip into account
  addons/io_scene_gltf2/blender/exp/gltf2_blender_gather_animations.py
Labels: Animation, exporter

#905 Import: separate the notions of a bone's bind pose / editbone pose
  addons/io_scene_gltf2/blender/imp/gltf2_blender_animation_bone.py
  addons/io_scene_gltf2/blender/imp/gltf2_blender_node.py
  addons/io_scene_gltf2/blender/imp/gltf2_blender_primitive.py
  addons/io_scene_gltf2/blender/imp/gltf2_blender_vnode.py
Labels: Skinning_&_Rigging, importer

#914 Import: manage morph weights at node level
  addons/io_scene_gltf2/blender/imp/gltf2_blender_gltf.py
  addons/io_scene_gltf2/blender/imp/gltf2_blender_mesh.py
  addons/io_scene_gltf2/blender/imp/gltf2_blender_node.py
Labels: Mesh_&_Object, importer
